<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:flex="http://www.springframework.org/schema/flex" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
      http://www.springframework.org/schema/flex http://www.springframework.org/schema/flex/spring-flex-1.0.xsd">

	<context:annotation-config />
	
	<!--对web包中的所有类进行扫描，以完成Bean创建和自动依赖注入的功能 -->
	<context:component-scan base-package="com.zgxcw.service.infrastructure.goods" />

	<import resource="classpath:env/property_configurer.xml" />

	<!--数据连接池 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		init-method="init" destroy-method="close">
		<property name="driverClassName" value="${jdbc.read.driverClassName}" />
		<property name="url" value="${jdbc.read.url}" />
		<property name="username" value="${jdbc.read.username}" />
		<property name="password" value="${jdbc.read.password}" />
		<property name="maxActive" value="${jdbc.read.maxActive}"></property>
		<property name="initialSize" value="${jdbc.read.initialSize}"></property>
		<property name="maxWait" value="${jdbc.read.maxWait}"></property>
		<property name="minIdle" value="${jdbc.read.minIdle}"></property>

		<property name="timeBetweenEvictionRunsMillis" value="${jdbc.read.timeBetweenEvictionRunsMillis}"></property>
		<property name="minEvictableIdleTimeMillis" value="${jdbc.read.minEvictableIdleTimeMillis}"></property>

		<property name="validationQuery" value="${jdbc.read.validationQuery}"></property>
		<property name="testWhileIdle" value="${jdbc.read.testWhileIdle}"></property>
		<property name="testOnBorrow" value="${jdbc.read.testOnBorrow}"></property>
		<property name="testOnReturn" value="${jdbc.read.testOnReturn}"></property>

		<property name="poolPreparedStatements" value="${jdbc.read.poolPreparedStatements}"></property>
		<property name="maxOpenPreparedStatements" value="${jdbc.read.maxOpenPreparedStatements}"></property>
	</bean>
	<!--动态数据源配置结束 -->

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:notenv/mybatis-config.xml" />
		<property name="typeAliasesPackage" value="com.zgxcw.service.infrastructure.goods.bean"></property>
		<!--mybatis分页插件 -->
		<property name="plugins">
			<array>
				<bean class="com.github.pagehelper.PageHelper">
					<property name="properties">
						<value>
							dialect=oracle
							reasonable=true
							pageSizeZero=true
						</value>
					</property>
				</bean>
			</array>
		</property>
		<property name="mapperLocations">
			<list>
				<value>classpath:notenv/mapper/*Mapper.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 解析事务注解 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	

	<bean id="AMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"
		autowire="byType">
		<property name="mapperInterface"
			value="com.zgxcw.service.infrastructure.goods.dao.AMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

</beans>
